<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 message-key="exnt_settings"></h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite" ng-click="save()">
      <md-icon aria-label="accessibility"
               class="material-icons step"
               ng-class="md-18">save
      </md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-tabs class="ma-tabs" md-border-bottom ng-cloak md-dynamic-height>
  <md-tab label="Base" ng-cloak layout="column" layout-align="space-around">
    <md-card flex="80" flex-offset="10" ng-cloak>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"
                message-key="angular.example.directives.settings.ma-settings.subtitle.setting"></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-checkbox ng-model="settings.enabled" aria-label="" ng-click="enable()">
          <span message-key="exnt_settings.ex_enabled"></span>
        </md-checkbox>
        <md-input-container class="md-block" flex>
          <label message-key="exnt_settings.ex_setting1"></label>
          <input ng-model="settings.setting1">
        </md-input-container>
      </md-card-content>
    </md-card>
  </md-tab>
</md-tabs>